<?xml version="1.0" encoding="utf-8"?>
<FrameLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:padding="10dp"
    android:background="@color/ToDoColor">
    <FrameLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:padding="10dp"
        android:background="@drawable/ToDoViewBackground"
        android:id="@+id/EditViewContainer">
        <Daily.MonoDroid.Views.LockableScrollView
            android:id="@+id/LockableScrollView"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:fillViewport="true">
            <LinearLayout
                android:id="@+id/EditView"
                android:orientation="vertical"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:background="@drawable/ToDoViewBackground"
                style="?android:attr/spinnerStyle">
                <Daily.MonoDroid.Views.ColorPickerView
                    android:layout_width="match_parent"
                    android:layout_height="50dp"
                    android:id="@+id/ColorPicker" />
                <Daily.MonoDroid.Views.TimePickerView
                    android:layout_width="200dp"
                    android:layout_height="250dp"
                    android:id="@+id/NotifyTime"
                    android:layout_gravity="center"
                    android:focusable="true"
                    android:focusableInTouchMode="true"
                    android:layout_centerHorizontal="true"
                    android:layout_margin="20dp" />
                <EditText
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/Title"
                    android:hint="Title" />
                <EditText
                    android:inputType="textMultiLine"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/Description"
                    android:hint="Description" />
                <TextView
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/AlertSound"
                    style="?android:attr/spinnerStyle"
                    android:padding="10dp"
                    android:textSize="16sp" />
                <TextView
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/Frequency"
                    android:spinnerMode="dialog"
                    style="?android:attr/spinnerStyle"
                    android:padding="10dp"
                    android:textSize="16sp" />
                <HorizontalScrollView
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:id="@+id/WeeklyContainer"
                    android:visibility="gone">
                    <Daily.MonoDroid.Views.DayOfWeekPickerView
                        android:id="@+id/DayOfWeekPicker"
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content" />
                </HorizontalScrollView>
                <TableLayout
                    android:minHeight="25px"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:id="@+id/IntermittentContainer"
                    android:padding="20dp"
                    android:visibility="gone">
                    <TableRow>
                        <TextView
                            android:text="Days On"
                            android:gravity="center_vertical"
                            android:layout_weight="1" />
                        <EditText
                            android:numeric="integer"
                            android:id="@+id/DaysOn"
                            android:text="Everyday"
                            android:layout_weight="3" />
                    </TableRow>
                    <TableRow>
                        <TextView
                            android:text="Days Off"
                            android:gravity="center_vertical"
                            android:layout_weight="1" />
                        <EditText
                            android:numeric="integer"
                            android:id="@+id/DaysOff"
                            android:text="Never"
                            android:layout_weight="3" />
                    </TableRow>
                </TableLayout>
            </LinearLayout>
        </Daily.MonoDroid.Views.LockableScrollView>
    </FrameLayout>
</FrameLayout>